.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 36px;
  line-height: 43px;

  color: #f4f4f4;
}
.subtitle {
  margin-bottom: 50px;

  text-align: center;
}
.subtitle__accent {
}
