@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  padding: 30px 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  color: var(--text-color);
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
}
