.item__info {
  cursor: pointer;
}

.item__name {
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  text-overflow: ellipsis;

  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.item__description {
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  text-overflow: ellipsis;

  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: var(--text-color-2);
}
